// @use './Styles/abstracts' as a;
@use '../abstracts' as a;


.extraData-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    object-fit: cover;
    max-height: 696px;

    .extraInfo-container {
        margin: auto auto;
        width:624px;
    }
    .extraDataTitle {
        margin-bottom: 2rem;
    }
    .extraDataTitle, .ex-plus {
        display:flex;
        align-items: center;
    }
    h2 {
        display: inline-block;
        text-transform: unset;
        font-family: 'Nunito Sans Bold', 'Courier New', Courier, monospace;
        font-weight: 900;
        margin: 0;
    }
    img.fullSize {
        height: auto;
        width: 100%;
        object-fit: cover;
    }
    .ex-plus {
        justify-content: center;
        width:58px;
        height:58px;
        border-radius: 100%;
        background-color: a.$thirdCol;
        margin-left: 2rem;
    }
}


@media screen and (min-device-width: 992px) and (max-width: 1312px) {
    .extraData-container {

        .extraInfo-container {
            width:100%;
            padding: 0 1rem;
        }
        h2 {
            font-size: 2.5rem;
        }
        .ex-plus {
            scale: 0.7;
            margin-left:1rem;
        }
    }
}

@media screen and (max-width:992px) {
    .extraData-container {  

        .extraInfo-container {
            width:100%;
            padding: 0 1rem;
        }
        .extraDataTitle {
            margin-bottom: 0;
        }
        h2 {
            font-size: 1.8rem;
        }
        .ex-plus {
            scale: 0.4;
            margin-left:0;
        }
    }
}

@media screen and (max-width:600px) {
    
    .extraData-container {
        grid-template-columns: unset;
        grid-template-rows: repeat(2, auto);
        margin-bottom: 2rem;
    }
}